.asistencia-panel {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.asistencia-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a4651;
  font-family: 'Courier New', Courier, monospace;
  flex-wrap: wrap;
  padding: 10px;
  color: white;
}

.asistencia-acciones {
  display: flex;
  gap: 10px;
}

.asistencia-btn-nuevo,
.asistencia-btn-buscar {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.asistencia-btn-nuevo {
  background-color: #4e9a51;
}

.asistencia-btn-buscar {
  background-color: #6d7e8b;
}

.asistencia-acciones input[type="text"] {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.asistencia-tabla {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.asistencia-tabla thead tr {
  background-color: #3d4d5c;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.asistencia-tabla th,
.asistencia-tabla td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.asistencia-btn-editar,
.asistencia-btn-eliminar {
  color: black;
  background: transparent;
  font-size: 10px;
  padding: 8px 12px;
  border: 1px solid #3d4d5c;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}


/* Modal */
.asistencia-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.asistencia-modal-contenido {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.asistencia-modal-contenido h3 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.asistencia-modal-contenido input,
.asistencia-modal-contenido select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.asistencia-modal-botones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.asistencia-modal-botones button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.asistencia-modal-botones button:first-child {
  background-color: #4caf50;
  color: white;
}


.asistencia-modal-botones button:last-child {
  background-color: #f44336;
  color: white;
}

