.contenedor-panel {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  }
  
  .barra-superiorr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252f35;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }
  
  .acciones-barra {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .btn-buscar {
    background-color: #7a8b95;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="text"] {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-contenido {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .modal-contenido h3 {
    margin-top: 0;
    color: #333;
  }
  
  .modal-contenido input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .modal-botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .btn-guardar {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-cancelar {
    background-color: #f44336;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tabla-puestos {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .tabla-puestos thead tr {
    background-color: #46576b;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .tabla-puestos th,
  .tabla-puestos td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  